<!-- Validation failure messages -->
<% if @slike.errors.any? %>
  <% @slike.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Slike</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_slike" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @slike.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for song_id -->
      <div class="form-group">
        <label for="song_id" class="control-label">
          Song
        </label>

        <input type="text" id="song_id" name="song_id" placeholder="Song" class="form-control" value="<%= @slike.song_id %>">
      </div>

      <button class="btn btn-success">
        Create Slike
      </button>
      or
      <a href="/slikes">Cancel</a>
    </form>
  </div>
</div>
