<!-- Validation failure messages -->
<% if @alike.errors.any? %>
  <% @alike.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Alike</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_alike" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for activity_id -->
      <div class="form-group">
        <label for="activity_id" class="control-label">
          Activity
        </label>

        <%= select_tag(:activity_id, options_from_collection_for_select(Activity.all, :id, :title, @alike.activity_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Alike
      </button>
      or
      <a href="/alikes">Cancel</a>
    </form>
  </div>
</div>
